html, body, div, nav, h1, h2, h3, h4, ul, li, img {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

body {
    background: #E0D5B7 url(../images/page-background.jpg) repeat-x;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    color: #74653D;
    padding-bottom: 10px;
    padding-top: 31px;
}

#wrapper {
    text-align: left;
    margin: auto;
    width: 778px;
    position: relative;
    background: url(../images/body-background.png) repeat-y;
}

.more {
    text-align: right;
    margin-top: -5px;
    font-weight: 600;
}

a {
    color: #594717;
}

/*#region HEADER -----------------*/
#header {
    position: absolute;
    top: 0;
    left: 243px;
    width: 535px;
    height: 279px;
    background: url(../images/header-right.jpg) no-repeat;
}

#left {
    float: left;
    width: 243px;
}

#logo {
    width: 244px;
    height: 152px;
    background: url(../images/header-left.jpg) no-repeat;
    text-align: center;
    color: #595959;
}

    #logo h1 {
        padding-top: 30px;
        font: 24px "arial narrow", arial, sans-serif;
    }

    #logo p {
        margin: 8px 25px 4px 25px;
        border-top: 1px solid #B8B8B8;
        border-bottom: 1px solid #B8B8B8;
        padding: 3px;
        letter-spacing: 0.2em;
        font-weight: bold;
    }
/*#endregion HEADER --------------*/

/*#region NAVIGATION -----------------*/
#nav {
    background: url(../images/nav-left.jpg) no-repeat;
}

    #nav ul {
        margin-left: 9px;
        padding-left: 1px;
        padding-bottom: 29px;
        background: #2A2A2A bottom left url(../images/nav-bottom.png) no-repeat;
    }

    #nav li {
        list-style: none;
        font-family: Arial;
        font-size: 1.2em;
        border-top: 1px solid #959595;
        background: 188px 10px url(../images/arrow-white.gif) no-repeat;
        padding: 7px 0 0 30px;
    }

    #nav a {
        color: #fff;
        text-decoration: none;
        border-left: 1px solid #959595;
        padding-left: 10px;
        display: block;
        width: 90%;
        padding: 2px 0 6px 8px;
    }

        #nav a:hover {
            text-decoration: underline;
        }

    #nav .current {
        border: none;
        background: 188px 10px url(../images/arrow-orange.gif) no-repeat;
    }

        #nav .current a {
            color: #E9C379;
        }
/*#endregion NAVIGATION --------------------*/

/*#region NEWS-SUPPORT --------------*/
#news {
    background: url(../images/news-background.png) repeat-y;
    padding: 0 37px 3px 37px;
    text-align: justify;
}

    #news h3 {
        font-size: 1em;
        margin: 0 8px 10px 0;
        padding-top: 10px;
    }

        #news h3:first-of-type {
            padding-top: 30px;
        }

    #news > .more {
        font-size: 9px;
    }

    #news .dots-line {
        background: center url(../images/dots.gif) repeat-x;
        height: 10px;
    }

#support {
    background: url(../images/support.jpg) no-repeat;
    padding: 1px;
    height: 97px;
    color: #1A1A18;
}

    #support p {
        margin: 5px 30px;
    }
/*#endregion NEWS-SUPPORT -----------*/

/*#region RIGHT SECTION --------------- */
#right {
    float: right;
    width: 490px;
    padding-right: 9px;
    padding-top: 310px;
}

    #right h2 {
        font: 1.8em Arial, sans-serif;
        color: #c19011;
        border-bottom: 1px solid #C4AE7C;
        padding-bottom: 6px;
        margin-bottom: 10px;
    }

    #right h3 {
        font: 1.4em Arial, sans-serif;
        color: #d3ba79;
        border-bottom: 1px solid #C4AE7C;
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

#welcome {
    margin-right: 15px;
}

    #welcome img {
        float: left;
        display: block;
        margin-right: 20px;
    }

    #welcome p {
        text-align: justify;
        margin-right: 10px;
    }

#profile {
    margin-right: 15px;
}

#right .more {
    text-align: right;
    font-size: 10px;
}

#corporate, #industrial {
    float: left;
    width: 48%;
}

#corporate {
    margin-right: 15px;
}

#corporate-img {
    background: url(../images/bridge.jpg) no-repeat;
}

#industrial-img {
    background: url(../images/skyscrapers.jpg) no-repeat;
}

#corporate-img, #industrial-img {
    width: 112px;
    height: 23px;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding-top: 90px;
    font-size: 9px;
    font-weight: bold;
}

#corporate p, #industrial p {
    margin-top: 0;
}

#profile .more {
    margin-right: 10px;
}

/*#endregion RIGHT SECTION ---------------*/

.clear {
    clear: both;
}

#spacer {
    height: 30px;
}

/*#region FOOTER ------------- */
#footer {
    background: url(../images/footer-bacground.png) repeat-y;
}

#copyright {
    text-align: center;
    padding: 20px 0 15px 0;
    font-size: 9px;
    color: #715F36;
    font-weight: 600;
}

#footerline {
    background: url(../images/footerline.png) no-repeat;
    height: 10px;
    margin-top: 0px;
    display: block;
    font-size: 1px;
}



/*#endregion FOOTER -------------*/
